Options ExecCGI Includes FollowSymLinks
DirectoryIndex index.cgi

# standard cgi
AddHandler cgi-script .cgi .pl

# mod_perl 1.0
#AddHandler perl-script .cgi .pl .pm
#PerlHandler Apache::Registry

# mod_perl 2.0
#AddHandler perl-script .cgi .pl .pm
#PerlHandler ModPerl::Registry

<IfModule mod_rewrite.c>
	RewriteEngine On

	# serve actual file or directory if it exists
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_URI} ^/public
	RewriteRule ^.*$ - [S=35]
  
	# show standard server's 404 error for these files instead of routing them through Stuffed System
	RewriteRule ^(robots.txt|favicon.ico)$  /public/$1 [L,QSA]

	# main system 4 dispatch rule
	RewriteRule ^(.+)$	index.cgi?__path=$1	[L,QSA]
</IfModule>